body{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    width: 50px;
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{

    text-decoration: none;
   padding-left: 0px;
   margin: 0px;
   background-color: #c0ba6b;
   max-height: 28px;
    
}
li{
    display: inline-block;
    list-style: none;
    font-size: 22px;
    
    text-align: center;
    padding: 0px;
}
li a:hover {
    background-color: rgba(158, 168, 163, 0.548);
    color: black(190, 167, 167, 0.61);
    
}
li a.active:hover {
    background-color:#18b457;
    color: black(190, 167, 167, 0.61);
    
}
.active{
    background-color:#18b457;
    color: white;
    
}

header{
    background-color:whitesmoke;
    margin:0px;
    padding: 0px;
    max-height: 150px;

}
h1{
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #18b457;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
}
#items{
    margin-top: 50px;
    padding: 0px
}

#wrapper{
    padding: 0px;
    margin-top: 1px;
    margin: 0px;
   
    
    
}
#slideBar{
    margin-top: 10px ;
    margin-left: auto;
    margin-right: auto;
    
    height: 200px;
    
    width: 50%;
}
img{
    position:relative;
    width: 100%;
    height: 100%; 
    margin: auto;  
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mySlides{
    display: none;
}