<div class="container my-4">
    <button  class="btn btn-secondary" onclick="location.replace('/show')">View Users</button>
    <form action="/update/{{email}}" method="POST" autocomplete="off" >
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" name="email" value= "{{email}}"required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword3" name="name" value="{{name}}">
            </div>
        </div>
        
   {{#check city}}
{{test}}
{{/check}}
        <div class="row mb-3">

        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      
        
</div>
