<div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
  <strong>Congrats!</strong> Registered Successfully
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container my-7">
    <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Welcome!</h4>
  <p><a href="/">Click here </a>to go back to home page</p>
  <hr>
  
</div>
</div>